/* body {
  margin: auto;
  max-width: 550px;
  line-height: 1.6;
  font-size: 1.05rem;
  padding: 0.6rem;
}
a {
  color: #080;
  text-decoration: none;
}
summary {
  cursor: crosshair;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: #ccc;
  }
  img {
    filter: brightness(0.7);
  }
} */

body {
  line-height: 2;
  font-size: 1.1rem;
}
main {
  max-width: 560px;
  margin: auto;
}
a,
summary {
  color: #080;
  text-decoration: none;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  html {
    background: #000;
    color: #ddd;
  }
  /* img {
    filter: brightness(0.7);
  } */
}
