<script>
  if (!localStorage.css) {
    localStorage.css = '""';
    localStorage.js = '""';
    localStorage.a =
      "document.querySelector('style').innerHTML += JSON.parse(localStorage.css); eval(JSON.parse(localStorage.js));";
  }
  localStorage.css = JSON.stringify(
    JSON.parse(localStorage.css) +
      `
/* Adds dark mode */
body{background:#000;color:#ddd;}
  `
  );
  window.history.back();
</script>

<noscript>
  This function doesn't work without JavaScript.
  <br /><br />
  Navigate back to the previous page or go to the <a href="/">home page</a>.
</noscript>
